node_modules/
dist/
build/
.env
.env.local
*.log
.expo/
coverage/
generated/
packages/*/dist/
*.tsbuildinfo

# artefacts de compilation egares dans les sources
packages/*/src/**/*.js
packages/*/src/**/*.js.map
packages/*/src/**/*.d.ts

# Expo
apps/mobile/.expo/
apps/mobile/expo-env.d.ts
